.flags {
    display: flex;
    flex-wrap: wrap;
  }
  
  .flag {
    width: 30px;
    height: 20px;
    margin: 5px;
    border: 1px solid #ccc;
  }
  
  .Franca{
    background-image: linear-gradient(blue, white, red);
  }
  
  .Italia{
    background-image: linear-gradient(green, white, red);
  }
  
  .Alemanha{
    background-image: linear-gradient(black, red, gold);
  }
  
  .argentina {
    background-image: linear-gradient(lightblue, white, lightblue);
  }
  
  .nigeria {
    background-image: linear-gradient(green, white);
  }
  
  .holland {
    background-image: linear-gradient(red, white, blue);
  }
  
  .austria {
    background-image: linear-gradient(red, white, red);
  }
  
  .sweden {
    background-image: linear-gradient(blue, yellow, blue);
  }
  
  .denmark {
    background-image: linear-gradient(red, white);
  }
  
  .norway {
    background-image: linear-gradient(red, white, blue);
  }
  
  .finland {
    background-image: linear-gradient(white, blue);
  }
  
  .japan {
    background-image: linear-gradient(white, red);
  }